.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#1e3a8a;
padding:15px 40px;
color:white;
}

.logo{
font-size:22px;
font-weight:bold;
}

.navbar ul{
display:flex;
list-style:none;
gap:25px;
}

.navbar a{
text-decoration:none;
color:white;
font-size:16px;
}

.navbar a:hover{
color:#93c5fd;
}